<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  
  <title>Create Task - {{ team.name }} - Task Manager</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>
<style type="text/css">
    .form-control-user {
        font-size: .8rem;
        border-radius: 10rem;
        padding: 1rem;
        width: 100%;
        height: 100%;
        text-decoration: none;
        outline: none;
        border: 1px solid #d1d3e2;
    }
    </style>
<script type="text/javascript">
    var deg = 0
    function displayer(){
      var dis = document.getElementById("desc").value
      var d = document.getElementById("des")
      d.innerHTML = dis
    }
    </script>
<body onload="displayer()" id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- SideBar Code -->
    {% block sidebar %}
      {% include "team/menu.html" %}
    {% endblock %}
    <!-- SideBar End -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% block topbar %}
        {% include "team/topbar.html" %}
      {% endblock %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{  tasks.title   }}</h1>
            <h6><strong>Date Created: </strong>{{  tasks.date_created   }}</h6>
          </div>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <!-- Content Row -->
          <div class="row">
            <div class="col-xl-2"></div>
            <!-- Area Chart -->
            <div class="col-xl-8">
                {% if error %}
                <div class="alert alert-danger" role="alert">
                  {%  if error_msg != ""  %}
                  {{  error_msg }}
                  {%  else  %}
                    Entered information is invalid!
                  {%  endif %}
                  </div>
                  
                  {% endif %}
                  
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Task Description</h6>
                </div>
                <!-- Card Body -->
                <div id="des" class="card-body">
                    <input id="desc" type="hidden" value="{{  tasks.desc  }}">
                </div>
              </div>
                    <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                              <h6 class="m-0 font-weight-bold text-primary">Comments</h6>
                            </div>
                            <!-- Card Body -->
                            <div id="des" class="card-body">
                                <input id="desc" type="hidden" value="{{  tasks.desc  }}">
                            </div>
                          </div>        
            </form>
        </div>
      </div>

    </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% block footer %}
      {% include "footer.html" %}
    {% endblock %}

      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/logout/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>
