<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>
        <a style="color: #5a5c69; text-decoration: none" class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard/">
          <div class="sidebar-brand-icon">
              <h5>{{  team.name }} Dashboard</h5>
            </div>
        </a>
        
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>

          <!-- Alerts -->
          {% block alerts %}
          {% include "alerts.html" %}
        {% endblock %}
          <!-- Alerts End -->
          <!-- Messages -->
          {% block messages %}
          {% include "mess_notification.html" %}
        {% endblock %}
          <!-- Messages End-->

          <!--Profile Menu-->
          {% block profile %}
          {% include "profile_menu.html" %}
        {% endblock %}
          <!--Profile End-->
        </ul>

      </nav>