<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  
  <title>About - Task Manager</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>
<style type="text/css">
.x{
  margin-bottom: 1.5rem;
}
</style>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container" style="margin-top:30px">

          <!-- Page Heading -->
 

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-2"></div>
            <div class="col-8">
                            <span class="text-center">
                              <h1 class="h3 mb-0 text-gray-800">
                                Task Manager
                              </h1>
                            </span>
                    <div class="card shadow mb-4 mt-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">About Software</h6>
                            </div>
                            <div class="card-body text-center">
                                    Task Manager is an web-based django application that allows project managers to eﬀectively manage and handle their teams by monitoring and analyzing status of each task allotted to members of the team created.        
                                    <br><br><a href="{% static 'Documentation.pdf' %}" class="btn btn-primary btn-icon-split">
                                            <span class="icon text-white-50">
                                              <i class="fas fa-download"></i>
                                            </span>
                                            <span class="text">Download Documentation</span>
                                          </a>
                                </div>
                            </div> 
                <div class="card shadow mb-4 mt-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">About Developer</h6>
                    </div>
                    <div class="card-body text-center">
                        <img class="img-profile rounded-circle mb-4" style="height: 100px" src="/media/daksh.jpeg">
                        <h2>Daksh Pokar</h2>
                        <h6>Email: <a href="mailto:dakshpokar@gmail.com">dakshpokar@gmail.com</a></h6>
                        <h6>Website: <a href="http://dakshpokar.com">www.dakshpokar.com</a></h6>
                        <h6>Phone No.: +91 9689927235</h6>
                        <br>
                        <a href="http://facebook.com/dakshpokar" class="btn btn-primary btn-circle">
                                <i class="fab fa-facebook-f"></i>
                              </a>
                              <a href="http://twitter.com/dakshpokar" class="btn btn-primary btn-circle">
                                    <i class="fab fa-twitter"></i>
                                  </a>
                                  <a href="http://github.com/dakshpokar" class="btn btn-primary btn-circle">
                                        <i class="fab fa-github"></i>
                                      </a>
                    </div>
                  </div>              
            </div>

            <!-- Pie Chart -->
            <div class="col-2"></div>
            
          </div>

          <!-- Content Row -->
          
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% block footer %}
      {% include "footer.html" %}
    {% endblock %}

      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>


</body>

</html>
