<li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">{% if notifications.all.count != 0 %}{{  notifications.all.count }}{%  endif %}</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                {%  for i in notifications.all %}
                <a class="dropdown-item d-flex align-items-center" href="/team/{{  i.comment.task.belongs_to.url }}/tasks/{{ i.comment.task.url }}/">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="{{ MEDIA.ROOT  }}{{ i.comment.user.profile_picture.url }}" alt="">
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">{{ i.comment.message }}</div>
                    <div class="small text-gray-500">{{ i.comment.user.user.first_name }} {{ i.comment.user.user.last_name }}<br>{{  i.comment.task.belongs_to.name }} - {{  i.comment.task.title }}</div>
                  </div>
                </a>
               {% endfor %}
              
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>